#chat {
	background-color: #222;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 30%;
	min-width: 250px;
	position: absolute;
	top: 0;
	left: 0;
	display: table-cell;
}


#historial {
	height: 95%;
	height: calc(100% - 40px);
	overflow-y: scroll;
}
.globo {
	background-color: #838700;
    border-radius: 0 10px 10px 0;
    color: #EEEEEE;
    display: inline-block;
    margin: 10px 10px 5px 0;
    padding: 10px;
    word-wrap: break-word;
}
.globo.aviso {
    background-color: #007F85;
}
.globo.mio {
	float: right;
	background-color: #029100;
	border-radius: 10px 0 0 10px;
	margin-left: 10px;
	margin-right: 0;
}
.globo > .nombre {
	display: block;
	font-weight: bold;
}

.clear {
	clear : both;
}




#entradatxt, #enviar {
	height: 5%;
	height: calc(40px);
}

#entradatxt {
	background-color: #222;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0 none;
    color: #FFFFFF;
    font-size: 14px;
    padding: 0 5%;
    width: 70%;
}
#enviar {
    background-color: #AAA;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0 none;
    color: #FFFFFF;
	font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
    width: 20%;
}
#enviar:hover {
	background-color: #FFF;
	box-shadow: 0 0 10px #FFF;
	color: #000;
}