#mensaje_esperando {
    background-color: rgba(0, 0, 0, 0.65);
    background-size: cover;
    color: #FFFFFF;
    font-size: 30px;
    height: 100%;
    left: 0;
    line-height: 200px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}